.container {
    background-color: rgba(34, 21, 15, 0.849);
    /* background-image: url("../public/images/background/about-img1.jpg"); */
    background-size: cover;
    background-position: center;
  }  