.first_container {
    /* height: 100vh; */
    min-height: 560px
}

.section_title {
    color: #988e9f;
    font-size: 18px;
    font-weight: 300
}

.section_title.alt {
    display: inline-block;
    margin-top: 30px
}

.sec_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}
.third_container{
    padding-top: 0 !important;
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 75%;
    max-width: 85%;
    flex: 0 0 75%;
    max-width: 75%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    margin-left: 1.66667%;
    margin-left: 1.33333%;
}

.timeline {
    background-color: #5918df;
    height: 300%;
    left: -10px;
    position: absolute;
    top: 13px;
    width: 1px;
    z-index: 9
}

.timeline.alt {
    height: 5310%;
    top: 0
}

.bullet_title {
    position: relative
}

.bullet_title:before {
    background-color: #1b191e;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -29px;
    position: absolute;
    top: 9px;
    width: 9px;
    z-index: 10
}

#about {
    background-color: #14121c;
    height: auto;
    overflow: hidden;
    position: relative
}

#about:after {
    bottom: -100px;
    box-shadow: 0 0 80px 0 #07060a;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%
}

.down_arrow {
    background-image: linear-gradient(-180deg,#0d0c0e,#0e0d10)
}

.code_wrp {
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 16px;
    line-height: 1.6
}

.code_l {
    position: relative;
    z-index: 1
}

.code_l:after {
    color: #4a474d;
    content: attr(data-line-nr);
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 16px;
    left: -40px;
    line-height: 1.6;
    position: absolute;
    top: 0;
    z-index: 3
}

@media (max-width: 518px){
    .code_l:after {
        left: -25px;
    }

}

.code_l:hover {
    position: relative
}

.code_l:hover:before {
    background-color: #231d28;
    content: "";
    height: 100%;
    left: -30%;
    position: absolute;
    top: 0;
    width: 134%;
    z-index: -2
}

.methods {
    color: #3c8fdd;
    display: inline
}

.methods2 {
    color: #559ee2;
    display: inline
}

.interface {
    color: #e950e9;
    display: inline
}

.propname {
    color: #eeff31
}

.propName {
    color: #f3bc5e
}

.dot {
    color: #3b3553;
    display: inline
}

.comment {
    color: #78707e;
    display: inline
}

.scope {
    color: #fa76fa;
    display: inline
}
.text{
    color: #fff;
    display: inline;
}

.prop2 {
    color: #24e394;
    display: inline;
}

.type {
    color: #b1aeb3
}

.typed {
    color: #df2a2a;
    display: inline;
}

 .string {
    color: #24e33a
}

 .number {
    color: #e39d24
}

.bg_transparent{
    color: transparent !important;
}

 .cursor:before {
    animation: blink .8s infinite;
    content: "|";
    opacity: 0
}

@keyframes blink {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@media screen and (max-width: 768px) {
    #about .dot {
        display:none
    }

    #about .code_l:after {
        left: -50px
    }
}

 .code_l::after {
    color: #ffffff !important;
    z-index: 3;
}

 .code_l {
    color: #f5c572 !important;
    z-index: 3;
}

.border_l{
    border-left: 1px solid #fff;
}

.blue__gradient {
    background: linear-gradient(-90deg, rgba(101, 136, 125, 0.082) 0%, #060d0e 100%);
    filter: blur(103px);
}